<h1>Editing Event</h1>
 
<div class="Edit_Event">

	<h1> Edit your Event </h1>

<%= form_for @events do |f| %>
	<p>
		<%= f.label :Title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_field :description %>
	</p>

	<p>
		<%= f.label :start_date_time %>
		<%= f.text_field :start_date_time %>
	</p>

	<p>
		<%= f.label :end_date_time %>
		<%= f.text_field :end_date_time %>
	</p>	

	<p>
		<%= f.label :city %>
		<%= f.text_field :city %>
	</p>

	<p>
		<%= f.label :address %>
		<%= f.text_field :address %>
	</p>
	
	<p>
		<%= f.label :event_creater %>
		<%= f.text_field :event_creater %>
	</p>

	<p>
		<%= f.submit 'Edit Event', controller: 'events', action: 'update' %>
	</p>
<% end %>

	<% if false %>	
	<% if @event.error.any? %>
		<ul class = "Creation_error">
			<% for message_error in @event.errors.full_messages %>
				<li> <%= message_error %> </li>
			<% end %>
		</ul>
	<% end %>
	<% end %>
</div>

 
<%= link_to 'Back',  controller: 'events', action: 'start'%>