

<% provide(:title, @event.title) %>

<% if Time.now.strftime("%Y-%m-%d %H:%M") > @event.end_date_time %> 
   <p> Sorry, the event is over you cant make submission </p>
<% elsif Time.now.strftime("%Y-%m-%d %H:%M") < @event.start_date_time %> 
   <p> Sorry, the event is a future event you cant make submission </p>
<% else %>
  <%= link_to "Submit Solution", controller: 'events', action: 'submit_solution', id: @event.id %>
<% end %>
<%= link_to "All Submissions", controller: 'events', action: 'show_submission', id: @event.id %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        
          <p>
        <strong>Title: </strong>
    <%= @event.title %>
      </p>

      <p>
          <strong>Description:</strong>
    <%= @event.description %>
      </p>
    
      <p>
          <strong>Start Date and Time</strong>
    <%= @event.start_date_time %>
      </p>

      <p>
        <strong>End Date and Time  </strong>
    <%= @event.end_date_time %>
      </p>

             <p>
                <strong> City </strong>
                <%= @event.city %>
            </p>

             <p>
                <strong> Address </strong>
                <%= @event.address %>
             </p>


          <p> 
          <strong> Event Creator </strong>
        <%= @event.event_creater %>
    </p>

<%=raw tag_links(@event.all_tags)%>
 

      </h1>
    </section>
  </aside>
</div>




<%= render 'comments/comment_form' %> 

<% if @event.comments.count == 0 %>
<p> There are no comments till now </p>

<% else %>
<%= render 'comments/comments' %>


<% end %>



