

<% provide(:title, @event.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        
          <p>
        <strong>Title: </strong>
    <%= @event.title %>
      </p>

      <p>
          <strong>Description:</strong>
    <%= @event.description %>
      </p>
    
      <p>
          <strong>Start Date and Time</strong>
    <%= @event.start_date_time %>
      </p>

      <p>
        <strong>End Date and Time  </strong>
    <%= @event.end_date_time %>
      </p>

             <p>
                <strong> City </strong>
                <%= @event.city %>
            </p>

             <p>
                <strong> Address </strong>
                <%= @event.address %>
             </p>


          <p> 
          <strong> Event Creator </strong>
        <%= @event.event_creater %>
    </p>

      </h1>
    </section>
  </aside>
</div>

<%= render 'comments/comment_form' %> 

<% if @event.comments.count == 0 %>
<p> There are no comments till now </p>

<% else %>
<%= render 'comments/comments' %>


<% end %>



