<%= button_to "Present Events", events_present_events_path, method: :get %>

<%= button_to "Past Events", events_past_events_path, method: :get %>

<%= button_to "Future Events", events_future_events_path, method: :get %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th colspan="2"></th>
  </tr>
 
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.title, controller: 'events', action: 'event_info', id: event.id %></td>
      <td><%= event.description %></td>    
   </tr>
  <% end %>
</table>
